// Bulma overrides
.navbar {
  background: none;

  .navbar-item {
    img {
      max-height: 6rem;
      margin: 1rem 0;

      @media screen and (max-width: 768px) {
        max-height: 4rem;
      }
    }
    &.logo-item {
      flex-direction: column;
    }
  }
}

#branding {
  position: relative;
  margin: 10px 0 10px;
  color: inherit;
  text-decoration: none;
}

.main-navigation {
  a {
    font-size: 0.9375em;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;

    &:after {
      content: "/";
      position: absolute;
      right: 0;
      color: rgba(255, 255, 255, 0.15);
      font-weight: 300;
    }
  }

  &.is-active {
    background: none;
  }
}

.site-description {
  display: block;
  margin: 0.75rem 0 0 0;
  color: $lightGrey;
}

.site-header {
  .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 1rem;
  }

  &.header-collapse {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}
