.slide-title {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5.625em;
  font-weight: 900;
  line-height: 1;
  transition: 0.3s ease;
  transition-delay: 0.3s;

  @media (max-width: 768px) {
    font-size: 3em;
    top: 60%;
  }

  &.subtitle {
    color: #78a2ea;
    font-size: 3em;
    font-weight: 300;
    transform: scale(1.3);
    transition: 0.3s ease;
    transition-delay: 0.6s;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    top: 50%;
    padding: 10px 20px;

    @media (max-width: 768px) {
      font-size: 1em;
      top: 80%;
    }
  }
}
