@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800;900&family=Cinzel&family=Forum&display=swap");
//@import "../colors/colors";

$Alegreya: "Alegreya Sans SC", sans-serif;
$Cinzel: "Cinzel", serif;
$Forum: "Forum", cursive;

// Navbar
$navbar-item-img-max-height: 3rem;
$navbar-height: 5rem;
