.feature {
  text-align: center;
  margin-bottom: 50px;

  figure {
    overflow: hidden;
    position: relative;
  }

  .feature-title {
    color: white;
    font-size: 1.125em;
    font-weight: 400;
  }
}
