// $blueLight: #b9d9f0;
// $blue: #16248c;
// $blueGrey: #98adc9;
// $blueGreyDark: #758bac;
// $aquaDark: #263b4a;
// $purpleBlue: #5264a6;
// $light: #edf7f6;
// $lightDarker: #c4c3ae;

$primary: #8d97c6;
$light: #c9c9cb;
$lightGrey: #aeb4c9;
$blue: #5464b1;
$beigeLight: #968779;
$beigeDark: #76645d;
$beigeWarm: #82694c;
$green: #48684e;
$dark: #14110c;
