body {
  //color: #848484;
}

.k-theme {
  background: $dark;
}

.content {
  h2 {
    &.entry-title {
      color: white;
      font-size: 2rem;
    }
  }

  blockquote {
    background-color: inherit;
  }
}

.fullwidth-block {
  display: block;

  &.bottom-margin {
    margin-bottom: 5rem;
  }
}

.inner-content {
  padding: 80px 0;
}

.section-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 70px;
  padding-top: 40px;
}

.section-title {
  color: white;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
}
